{{#each this}}
<div class="card">
    <div class="card-img">
        <img class="card-flage" src="{{flag}}" alt="{{name}}" width="240">
    </div>
    <div class="card-body">
        <h2 class="card-title">{{name}}</h2>
        <p class="card-text">Capital:{{capital}}</p>
        <p class="card-text">Population:{{population}}</p>
        <ul class="card-list">Languages:
            {{#each languages}}
            <li class="card-item">{{this.name}}</li>
            {{/each}}
        </ul>
    </div>
</div>
{{/each}}